body{
    background-color: #5a01ff84;
    font-family: sans-serif;
 

}
#container{
    width:1000px;
    margin: 0 auto 0 auto;
    background-color: blue;
    padding: 30px;
    border-left: double white border 20px;
}
img{
    width:300px;
    float:left;
    border: solid 3px rgba(0, 0, 0, 0.638);
    margin-right: 12px;
    margin-bottom: 12px;
    
}
#pic1{
    float:right; 
    margin-right: 0px;
    margin-right: 20px;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  
    

}
h3{clear: both;}

.highlight{
    background-color: yellowgreen;
    font-weight: bolder;
    color: black;
}
a:link{
    font-weight: bold;
    color: orange;
    text-decoration: none;
}
a:visited{
    color: white
}

a:hover{
    text-decoration: underline;

}

img:hover{
    border-color: white;
    box-shadow: 3px 3px 3px white;
}
#sidebar{ 
    background-color: yellow; 

}

@media(max-width: 1200px){
    #container{
        width: 800px;
    }
}
@media(max-width:992px){
    #container{
        width:100%;
        margin:0;
        padding: 0;
    }
    body{
        padding:20px;
        
    }
}



    





